body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title{
    /* border: 2px solid; */
    color: hsl(0, 0%, 100%);
    text-shadow: 10px 5px 5px hsla(0, 0%, 7%, 0.79); 
    width: 300px;
    height: 70px;
    font-size: xx-large;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 20px;
    font-family: 'Caprasimo', cursive;
}

.firstContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 539px;
    text-align: center;
    
   
}

.imgFraseContainer{
     /* border: 2px solid black; */
    background: url(/public/fondo/fondoText1.png) no-repeat center center;
    background-size: 880px 450px;
    width: 900px;
    height: 470px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.textHere{
    position: relative;
    left: 80px;
    width: 500px;
    line-height: 3;
    text-shadow: 10px 5px 5px hsla(0, 0%, 65%, 0.51); 
    font-size: x-large;
    font-family: 'Caprasimo', cursive;
}

.authorContainer{
    border: 5px solid ;
    border-color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    height: 60px;
    width: 300px;
    font-size: x-large;
    font-family: 'Caprasimo', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.buttonContainer{
    /* border: 3px solid; */
   width: 300px;
   height: 60px;
    padding: 2px;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 10;
}

.shuffleButton{
    border: 5px solid ;
    border-color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 100%, 50%);
    border-radius: 15px;
    height: 60px;
    width: 200px;
    font-size: x-large;
    font-family: 'Caprasimo', cursive;
    transition: 0.5s;
    z-index: 10;
}

.shuffleButton:hover{
    background-color: hsla(0, 0%, 100%, 0.281);
    color: hsl(0, 0%, 0%);
}

@media screen and (max-width:1000px) {
    .imgFraseContainer{
        width: 600px;
        background-size: 580px 450px;
    }
    .textHere{
        width: 390px;
        left: 47px;
        line-height: 2;
    }
    .title{
        font-size: xx-large;
        width: 400px;
    }
}

@media screen and (max-width:600px) {
    .imgFraseContainer{
        width: 400px;
        background-size: 380px 450px;
    }
    .textHere{
        width: 200px;
        left: 20px;
        font-size: large;
        line-height: 2.8;
    }
    .title{
        font-size: xx-large;
        width: 300px;
    }
}